<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.demo1.mapper.StudentMapper">
    <insert id="save" parameterType="com.demo1.po.Student">
        insert into student(sname,sex,address,birthday,classid)
        values (#{sname},#{sex},#{address},#{birthday},#{classid})
    </insert>

    <update id="update" parameterType="com.demo1.po.Student">
        update student set sname=#{sname},sex=#{sex},address=#{address},birthday=#{birthday},classid=#{classid}
        where sid=#{sid}
    </update>


    <delete id="delById" parameterType="java.lang.Integer" >
        delete from student where sid=#{sid}
    </delete>

    <select id="findById" parameterType="java.lang.Integer" resultType="com.demo1.po.Student">
        select * from student where sid=#{sid}
    </select>

    <select id="findPageAll" parameterType="java.util.Map" resultType="com.demo1.po.Student">
         select s.*,c.cname from student s,clazz c where s.classid=c.cid order by sid limit ${(page-1)*rows},${rows}
    </select>

    <select id="findMaxRow" resultType="int">
        select  count(*) from student
    </select>

</mapper>